<html>


<%if @message.present? %>

<h1> hello <%= @message%></h1>

<%else%>

<h1>Hello unknown person</h1>

<%end%>

<%= link_to "root", "/goodbye", class:'btn', id:'toto'%>
<img src="poker.png">


</html>